h1{
    color: green;
    text-align: center;
    font-family: Poppins;
}
body{
    border-color:brown;
    font-family: "Arial";
    font-size: 30px;
    line-height: 45px;
    background-image: url("img/marrom.jpg");
    text-align: justify;
    border-style: solid;
    border-width: 20000 px;
}
a:link{
    color: red;
}
h2{
    color: blue;
    font-family: Poppins;

}

.t {
    font-family: poppins, sans-serif;
}
th{
    background-color: white;
    border-style: dotted;
}
td.SM1, .SB1{
    background-color: rgba(0, 0, 255, 0.8);
}
td.SM2, .SM3, .SB2, .SB3{
    background-color: aquamarine;
}
td.C1, .Q1{
    background-color: rgba(0, 255, 0, 0.8)
}
td.C2, .C3, .Q2, .Q3{
    background-color: rgba(0, 150, 0, 0.479)
}
